body {
	background: url("../images/power-bg.jpg");

}
h1 { 
	text-align: center;
	color: white;
}

.game-area{
	background: rgba(255, 255, 255, 0.897);
	min-height: 314px;
}
#zordon-image{

}
.rules{
	background: rgba(255, 255, 255, 0.699);

}
.rules p{
	font-size: 16px;
}

.row {
	margin-bottom: 10px;
}

.randomNumberDiv {
	background-color: tomato;

}

#randomNumber{
	font-size: 66px;
}

#userScore{
	font-size: 44px;
}
.winsLossesDiv {
	background-color: lightblue;
}

.scoreDiv {
	background-color: rgb(7, 165, 60);
	text-align: center;
}